$col-primary: #FF5197;
$col-secondary: #E34585;
$col-tertiary: #FFBCC8;

$col-dark-1: #252324;
$col-dark-2: #373536;

$col-grey-1: #D1D1D1;

$font-main:"KayakSans";
$font-light:"KayakSans-Light";

// queries
$bp-smaller: 20em; // 320px/16px = 20em
$bp-small: 37.5em; // 600px/16px = 37.5em
$bp-medium: 50em; // 100px/16px = 50em
$bp-large: 90em; //1440/16px = 90em