.user {
	display:flex;
	justify-content: center;
	&__name {
		// font-style: italic;
		// letter-spacing:2;
		@media only screen and (max-width:$bp-small) {
		   	display:block;
			text-align:center;
			margin-top: 1rem;
		}
	}
	&__details {
		text-align:center;
		@media only screen and (max-width:$bp-small) {
		   	padding: 2rem;
		   	font-size: 3.5rem;
		   	text-align: center;
		   	margin-bottom: 0;
		   	padding-bottom: 0;
		}

	}
	&__rankPosition {
		display:inline-flex;
		justify-content:center;
		align-items:center;
		background: rgba($col-primary,0.15);
		border-radius: 5px;
		color:white;
		height: 6.5rem;
		padding: 3.5rem;
		border:2px solid currentColor;
		
		text-align: center;
		margin-left: 1rem;
		min-width:6.5rem;
		font-size: 4rem;
		backface-visibility:hidden;
		transform:scale(.9);
		transition:all .2s ease;
		// animation: 1s pulse infinite;

		@media only screen and (max-width:$bp-small) {
			display: flex;
			justify-content:center;
			align-items:center;
			margin:0 auto;
		}
		&:hover {
			transform:scale(1);
		}
	}
	&__currentEntries {
		text-align:center;
		&--number {
			color:white;
		}
	}
	&__currentEntries &__rankPosition {
		height: 3rem;
		font-size: 2.5rem;
		display:flex;
		width: 50%;
		margin: 0 auto;
		padding: 2rem;
		text-align:center;
		margin-top: 1.5rem;
	}
}

